<section class="jumbotron">
  <div class="innerWrap">
    <header>
      <ul>
        <li class="logoHeader">
          <a href="#">
            <img src="assets/img/logo.png" alt="Logo">
          </a>
        </li>
        <div class="menuPolozky">
          <li>
            <a href="#projekt">O projektu</a>
          </li>
          <li>
            <a href="#lidi">Koho hledáme?</a>
          </li>
          <li>
            <a href="#spojeni">Spojení</a>
          </li>
        </div>
      </ul>
      <a href="#" class="pridejSe">Přidej se k nám</a>
    </header>
    <div class="jumbotronText">
      <h4>(je to zdarma, neboj)</h4>
      <h1>Ukaž co umíš a spoj se s ostatními.</h1>
      <div class="cara"></div>
      <p>Baví tě grafika, psaní, programování, marketing, focení, střih nebo se třeba jenom začínáš všechny tyhle věci teprve učit. Přidej se do komunity “like-minded” lidí, získej zkušenosti, nové kontakty a možná si u toho i něco přivyděláš :)</p>
    </div>
  </div>
</section>
