<section class="sekce1">
  <div class="pravaCast">
    <h2>Co to vůbec je?</h2>
    <h3>Hispul tipo</h3>
    <p>Motivation is the key to positivity in our lives. If we were not motivated enough, we would just not have the will in us to go about our daily lives. Its motivation that helps us get through the most mundane things – motivation for working harder, motivation to have a healthy relationship, motivation to earn more, motivation to have a happy family. And yet sometimes we find ourselves lacking in motivation; I think we have all had days when getting out of bed to get ready to go to work.</p>
  </div>
  <div class="levaCast">
    <div class="karta">
      
    </div>
  </div>
</section>
