<section class="sekce3">
  <div class="innerWrap">
    <h2>Spojení</h2>
    <ul>
      <li>
        <p>Tenhle projekt spadá pod skupinu</p>
        <div>
          <a href="http://arkun.xyz">Arkun.xyz</a>
        </div>
      </li>
      <div class="cara"></div>
      <li>
        <p>Odkaz na facebook skupinu</p>
        <div>
          <a href="http://facebook.com/$#@">facebook.com/$#@</a>
        </div>
      </li>
      <div class="cara"></div>
      <li>
        <p>Kontakt na admina</p>
        <div>
          <a href="http://twitter.com/styvekdrtic">@StyvekDrtic</a>
        </div>
        <div class="mail">
          <a href="mailto:jiristepanek@hotmail.com">jiristepanek@hotmail.com</a>
        </div>
      </li>
    </ul>
  </div>
</section>
