.jumbotron {
  background: #fff;
  background: url("../img/ilustrace.png");
  background-position: calc(100% + 0px) calc(100% + 10px);
  background-size: 600px;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  z-index: 10;
  min-height: 720px;

  header {
    padding-top: 40px;

    ul {
      margin: 0;
      padding: 0;
      display: inline-block;
      vertical-align: middle;

      li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 45px;
        list-style: none;

        a {
          color: #4C5672;
          text-decoration: none;
          font-size: 15px;
        }

        @media screen and (max-width: 800px) {
          margin-right: 20px;
        }
      }

      .logoHeader {
        img {
          height: 61px;
          width: 61px;
        }
      }
    }

    .pridejSe {
      float: right;
      border: 2px solid $fialova;
      color: $fialova;
      font-weight: bold;
      font-size: 13px;
      text-decoration: none;
      padding: 10px 15px;
      margin-top: 12px;
    }
  }

  .jumbotronText {
    margin-top: 100px;

    h4 {
      font-size: 18px;
      color: #B6AEFF;
      font-weight: 400;
      margin-bottom: 10px;
    }

    h1 {
      font-size: 45px;
      color: $fialova;
      font-weight: 300;
      max-width: 600px;
      margin-top: 0;
      margin-bottom: 25px;
    }

    .cara {
      background: #D4D0FF;
      height: 2px;
      width: 100px;
      margin: 0;
    }

    p {
      font-size: 15px;
      color: #6A6D79;
      letter-spacing: 0.5px;
      line-height: 27px;
      max-width: 520px;
      margin-top: 40px;
    }
  }

  @media screen and (max-width: 1200px) {
    background-size: calc(100%/2.3 + 30px);
  }
}
